.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.background {
  background-image: url('../assets/bg.png');
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
}

.instructions {
  height: 100vh; /* Set the height to match the viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.no-bg {
  background-color: transparent;
}
ion-content {
  --background: transparent;
}
.monkey-white {
  color: #fff;
}
