.background {
  background-image: url('../assets/bg.png');
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
}

.instructions {
  height: 100vh; /* Set the height to match the viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.no-bg {
  background-color: transparent;
}
ion-content {
  --background: transparent;
}
